*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    background: linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center, linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center, rgba($dot-color, 0.3);
    background-size: $dot-space $dot-space;
}

main {
    margin: 10rem 0;
}

.App {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to bottom right, transparent, rgba($color-white-1, .6), rgba($color-white-1, .6),  transparent);
}

.container {
    margin-bottom: 20rem;
}
