*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    background: linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center, linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center, rgba($dot-color, 0.3);
    background-size: $dot-space $dot-space;
}

main {
    margin: 5rem auto;
    max-width: 105rem;
}

.App {
    width: 100%;
    min-height: 100vh;
    // background: linear-gradient(to bottom right, transparent, rgba($color-white-1, .6), rgba($color-white-1, .6),  transparent);
}

.container {
    margin-bottom: 20rem;
}

.hero {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 45vh;
    max-height: 45rem;
    background: url(../assets/hero2.jpg);
    background-size: cover;
}