body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.heading-primary {
    font-size: 8rem;
    text-transform: uppercase;
    color: $color-primary-blue;
    letter-spacing: 15px;
}

.heading-secondary {
    font-size: 3.2rem;
    color: $color-primary-blue;
    font-weight: 700;

}

.paragraph {
    font-size: 1.8rem;
    color: $color-black-1;
    line-height: 1.6;
@media (max-width: 800px) {
            font-size: 1.6rem;
        }
}