.u-text-shadow {
    text-shadow: 1px 1px 1px $color-black-1;
}

.u-margin-bottom-large {
    margin-bottom: 5rem;
}

.u-margin-bottom-medium {
    margin-bottom: 3rem;
}

.u-margin-bottom-small {
    margin-bottom: 1.5rem;
}