$default-font-size: 1.6rem;

$color-primary-blue: #006bb6;
$color-primary-gold: #fdb927;
$color-primary-teal: #15c5bf;

$color-secondary-green: #00c000;
$color-secondary-blue: #102090;

$color-white-1: #fff;;
$color-black-1: #2d2d2d;
$color-grey-1: #2c2c29;

//for the dots
$bg-color: #fff;
$dot-color: #006bb6;
$dot-size: 2px;
$dot-space: 22px;