$default-font-size: 1.6rem;

$color-primary-blue: #006bb6;
$color-primary-gold: #fdb927;
$color-primary-teal: #15c5bf;

$color-secondary-green: #00c000;
$color-secondary-blue: #102090;

$color-white-1: aliceblue;
$color-grey-1: #2c2c29;