.podcast {
    width: 100%;
    overflow: hidden;
    background-color: aliceblue;
    margin: 2rem auto;
    border-radius: .7rem;
    transition: all .3s;
    animation: fadeIn 1s ease-in backwards;
    box-shadow: 2px 1px 6px $color-primary-blue;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 2px 1px 6px $color-primary-gold;
    }
}