.banner {
    margin: 5rem auto;
    background: linear-gradient(to top right, #15c5bf, #006bb6);
    padding: 3rem;
    box-shadow: rgba(45, 45, 45, 0.3) 2px 1px 3px 1px;
    border-radius: 1.2rem;
    max-width: 105rem;
    animation: moveInBottom 0.8s ease-out backwards;

    @media(max-width:800px) {
        max-width: 30rem;
        margin: 1rem auto;
    }

    &__main {
        margin: 0 2rem;
          @media(max-width:800px) {
        margin: 0;
        
    }
    }

    &__sub {
        display: flex;
        align-items: center;
        justify-content: space-between;
          @media(max-width:800px) {
       flex-direction: row;

    }
    }

    &__primary {
        font-size: 3.2rem;
        color: $color-white-1;
        letter-spacing: 2px;
        line-height: 1.6;
        @media(max-width:800px) {
        font-size: 2rem;
        text-align: center;
        
        
    }
    
    }
    &__secondary {
        font-size: 2rem;
        color: $color-white-1;
        letter-spacing: 2px;
        @media(max-width:800px) {
        font-size: 1.5rem;
        text-align: center;
        
    }
    }
    &__player-container {
        min-width: 6.5rem;
        min-height: 6.5rem;
        background: #fff;
        border-radius: 50%;

        margin: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: relative;
    }

    &__title {
        font-size: 2.8rem;
        color: $color-white-1;
        text-transform: uppercase;
        line-height: 1.6;
        @media(max-width:800px) {
        font-size: 2rem;
        text-align: center;
        
    }
    }

    &__snippet {
        font-size: 2rem;
        color: $color-white-1;
        line-height: 1.5;
         @media(max-width:800px) {
        display: none;
        
        
    }
    }

    &__player-arrow {
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        margin-left: 0.5rem;
        border-left: 15px solid #15c5bf;
    }

    &__player-triggered {
        width: 8rem;
        height: 8rem;
        background: none;
        border-radius: 50%;
        position: absolute;
        bottom: 0;
        left: 0;
        margin: -0.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-top: 2px dashed #fdb927;
        border-right: 2px dashed #fdb927;
        border-left: 2px dashed #fdb927;
        border-bottom: 2px dashed #fdb927;
        animation: spin 10s infinite linear;
    }

    &__content-container {
    }

    &__image-container {
        line-height: 0;
        margin: 2rem;
        background: #fff;
        padding: 0.3rem;
        border-radius: 1.5rem;
        box-shadow: rgba(45, 45, 45, 0.5) 2px 1px 3px 1px;
    }

    &__image {
        width: 6.5rem;
        border-radius: 1.2rem;
    }
}
