.header {
    padding-top: 2rem;
    margin: 2rem 0;

    &__container {
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
    }

    &__hero {
        width: 100%;
        max-width: 30rem;
    }
}
