.header {
    width: 100%;

    &__container {
        width: 100%;
        max-width: 300px;
        background-color: $color-white-1;
        line-height: 0;
        border-radius: .7rem;
        margin: 0 auto;
        box-shadow: 2px 1px 6px $color-primary-blue;
        position: relative;
    }

    &__image {
        width: 100%;
    }
}